.message-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.message-details-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 25px;
}

.message-details-header-subject {
    font-weight: bold;
    font-size: 20px;
}

.message-details-header-sender {
    font-size: 16px;
}

.message-details-body {

}