.skeleton-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.skeleton-main-topbar {
    display: flex;
    flex-direction: row;
    height: 10%;
    border: 1px solid black;
    box-sizing: border-box;
}

.skeleton-main-topbar-section-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.skeleton-main-topbar-section-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.skeleton-main-topbar-section-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.skeleton-main-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.skeleton-main-body-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.skeleton-main-body-right {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}
.side-button{
    @apply bg-stone-400 rounded-lg text-lg font-semibold text-center text-white h-10;
}
.clicked-side-button{
    @apply bg-blue-400 rounded-lg text-lg font-semibold text-center text-white h-10;
}
